[fin_data]
user=portuser
password=npfpr123
port=3306
database=fin_data

[portfolio_data]
user=portuser
password=npfpr123
port=3306
database=portfolio_data

[text_data]
user=portuser
password=npfpr123
port=3306
database=text_data


